In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
supply_load_price = pd.read_csv('../../data/processed/supply_load_price.csv', parse_dates=['date'], index_col='date')
supply_load_price = supply_load_price.asfreq('H')
supply_load_price = supply_load_price.sort_values(by='date')
supply_load_price

,calgary,central,edmonton,losses,northeast,northwest,south,system_load,ail,gas_price,...,load_on_gas_reserve,renewable_energy_ratio,fossil_fuel_ratio,energy_reserve_margin,gas_cost,gas_avail_ratio,coal_avail_ratio,gas_tng_ratio,coal_tng_ratio,renewable_energy_penetration
date,,,,,,,,,,,,,,,,,,,,,
2021-01-01 00:00:00,980.722146,1171.473099,1358.532734,236.922400,1174.421179,917.347644,820.224659,6659.643861,9655,2.4633,...,0.047723,0.159624,0.787665,3401.306600,14164.914865,0.460566,0.253026,0.595586,0.192080,0.001596
2021-01-01 01:00:00,930.446202,1176.854575,1319.084992,232.749707,1169.068763,921.311098,798.816485,6548.331823,9513,2.4633,...,0.052878,0.169058,0.777388,3130.645824,14079.251738,0.475366,0.229418,0.600821,0.176568,0.001691
2021-01-01 02:00:00,892.964253,1185.751442,1308.038703,230.711068,1153.448009,914.739715,789.838124,6475.491314,9437,2.4633,...,0.051222,0.174815,0.770960,3519.591174,14154.668958,0.464964,0.245796,0.608903,0.162056,0.001748
2021-01-01 03:00:00,874.536088,1176.828153,1292.884711,219.980539,1142.044135,868.807503,783.263951,6358.345079,9376,2.4633,...,0.034369,0.170573,0.774941,3466.726794,14391.975452,0.469155,0.238900,0.623140,0.151801,0.001706
2021-01-01 04:00:00,873.012668,1177.172785,1287.351410,255.139984,1139.851965,843.089582,785.215591,6360.833986,9356,2.4633,...,0.032638,0.163419,0.781837,3463.134162,14346.415484,0.468262,0.240251,0.622495,0.159342,0.001634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-31 18:00:00,1379.680924,1248.687412,1648.561087,226.832123,1023.412434,585.970201,881.953732,6995.097912,9566,2.0700,...,0.111884,0.145815,0.690913,3573.639546,12128.149786,0.501377,0.058333,0.612483,0.078431,0.001458
2023-05-31 19:00:00,1346.755145,1213.881244,1590.966760,172.560250,1026.354757,597.763107,922.811833,6871.093096,9383,2.0700,...,0.140493,0.136204,0.685950,3704.646489,11780.260329,0.501702,0.058295,0.606517,0.079433,0.001362
2023-05-31 20:00:00,1295.758512,1158.126007,1525.122006,150.578999,1034.968967,611.110713,924.559523,6700.224727,9141,2.0700,...,0.151415,0.117371,0.696299,3920.218460,11645.657983,0.502638,0.058186,0.615460,0.080838,0.001174
2023-05-31 21:00:00,1215.835645,1132.650292,1499.947664,205.960090,1053.117018,604.035179,911.834634,6623.380522,9007,2.0700,...,0.145486,0.119651,0.700268,3873.011486,11520.821496,0.501761,0.059052,0.617921,0.082347,0.001197
2023-05-31 22:00:00,1089.383050,1105.977845,1386.033833,154.768746,1059.666399,604.226642,904.817576,6304.874093,8692,2.0700,...,0.220400,0.121826,0.692121,4242.838106,10916.966488,0.503545,0.058841,0.606753,0.085368,0.001218

In [3]:
intertie_df = pd.read_csv('../../data/processed/intertie.csv', parse_dates=['date'], index_col='date')
intertie_df = intertie_df.asfreq('H')
intertie_df = intertie_df.sort_values(by='date')
intertie_df.head(2)

,atc_sk_export,atc_sk_import,atc_wecc_export,atc_wecc_import,bc,mt,sk,ttc_sk_export,ttc_sk_import,ttc_wecc_export,ttc_wecc_import,wecc,imported,exported,total_flow
date,,,,,,,,,,,,,,,
2020-12-20 00:00:00,-153,153,-935,551,-50,199.552,0,-153,153,-1000,1110,149.552,199.552,-50.0,149.552
2020-12-20 01:00:00,-153,153,-935,551,0,199.616,0,-153,153,-1000,1110,199.616,199.616,0.0,199.616

In [4]:

intertie_df[intertie_df['atc_sk_export'].isna()].index

DatetimeIndex([], dtype='datetime64[ns]', name='date', freq='H')

In [5]:
merged_df = pd.merge(supply_load_price, intertie_df, left_index=True, right_index=True)
final_merge = merged_df


final_merge[final_merge['price'].isna()].index

DatetimeIndex([], dtype='datetime64[ns]', name='date', freq='H')

In [6]:

final_merge[final_merge.isna().any(axis=1)]

Empty DataFrame
Columns: [calgary, central, edmonton, losses, northeast, northwest, south, system_load, ail, gas_price, price, peak_or_not, season, gas_tng, dual_fuel_tng, coal_tng, wind_tng, solar_tng, hydro_tng, storage_tng, other_tng, gas_avail, dual_fuel_avail, coal_avail, wind_avail, solar_avail, hydro_avail, storage_avail, other_avail, gas_reserve_margin, coal_reserve_margin, wind_reserve_margin, solar_reserve_margin, hydro_reserve_margin, storage_reserve_margin, other_reserve_margin, total_tng, total_avail, gas_supply_mix, dual_fuel_supply_mix, coal_supply_mix, wind_supply_mix, solar_supply_mix, hydro_supply_mix, storage_supply_mix, other_supply_mix, total_reserve_margin, relative_gas_reserve, demand_supply_ratio, avail_gen_ratio, load_on_gas_reserve, renewable_energy_ratio, fossil_fuel_ratio, energy_reserve_margin, gas_cost, gas_avail_ratio, coal_avail_ratio, gas_tng_ratio, coal_tng_ratio, renewable_energy_penetration, atc_sk_export, atc_sk_import, atc_wecc_export, atc_wecc_import, bc, mt, sk, ttc_sk_export, ttc_sk_import, ttc_wecc_export, ttc_wecc_import, wecc, imported, exported, total_flow]
Index: []

[0 rows x 75 columns]

In [7]:
final_merge.to_csv('../../data/processed/final_df.csv')
final_merge.tail(5)

,calgary,central,edmonton,losses,northeast,northwest,south,system_load,ail,gas_price,...,mt,sk,ttc_sk_export,ttc_sk_import,ttc_wecc_export,ttc_wecc_import,wecc,imported,exported,total_flow
date,,,,,,,,,,,,,,,,,,,,,
2023-05-30 20:00:00,1335.646158,1226.864540,1531.405378,178.482680,1027.160234,622.975754,967.452257,6889.986999,9308,2.02,...,116.808,-56,-60,60,-1000,1110,395.808,395.808,-56.0,339.808
2023-05-30 21:00:00,1253.003185,1209.144729,1459.520707,210.865663,1013.923969,614.388464,945.052763,6705.899481,9056,2.02,...,107.616,0,-60,60,-1000,1110,405.616,405.616,0.0,405.616
2023-05-30 22:00:00,1119.833764,1176.852727,1378.986848,224.570901,1013.144974,614.829255,893.795190,6422.013658,8760,2.02,...,115.680,0,-60,60,-1000,1110,411.680,411.680,0.0,411.680
2023-05-30 23:00:00,1016.288015,1145.559592,1284.621968,152.181607,1002.636693,608.089763,849.644126,6059.021763,8460,2.07,...,115.808,0,-60,60,-1000,1110,411.808,411.808,0.0,411.808
2023-05-31 00:00:00,951.592943,1127.492914,1239.696785,103.161602,995.145238,606.972350,825.717754,5849.779587,8266,2.07,...,114.744,0,-60,60,-1000,1110,405.744,405.744,0.0,405.744

In [8]:
import pandas as pd

# Assuming your DataFrame is named 'df' and the datetime index column is named 'datetime_index'
duplicated_values = final_merge.index.duplicated()

if any(duplicated_values):
    print("There are repeated values in the datetime index column.")
else:
    print("There are no repeated values in the datetime index column.")

There are no repeated values in the datetime index column.

In [9]:
final_merge.columns

Index(['calgary', 'central', 'edmonton', 'losses', 'northeast', 'northwest',
       'south', 'system_load', 'ail', 'gas_price', 'price', 'peak_or_not',
       'season', 'gas_tng', 'dual_fuel_tng', 'coal_tng', 'wind_tng',
       'solar_tng', 'hydro_tng', 'storage_tng', 'other_tng', 'gas_avail',
       'dual_fuel_avail', 'coal_avail', 'wind_avail', 'solar_avail',
       'hydro_avail', 'storage_avail', 'other_avail', 'gas_reserve_margin',
       'coal_reserve_margin', 'wind_reserve_margin', 'solar_reserve_margin',
       'hydro_reserve_margin', 'storage_reserve_margin',
       'other_reserve_margin', 'total_tng', 'total_avail', 'gas_supply_mix',
       'dual_fuel_supply_mix', 'coal_supply_mix', 'wind_supply_mix',
       'solar_supply_mix', 'hydro_supply_mix', 'storage_supply_mix',
       'other_supply_mix', 'total_reserve_margin', 'relative_gas_reserve',
       'demand_supply_ratio', 'avail_gen_ratio', 'load_on_gas_reserve',
       'renewable_energy_ratio', 'fossil_fuel_ratio', 'energy_reserve_margin',
       'gas_cost', 'gas_avail_ratio', 'coal_avail_ratio', 'gas_tng_ratio',
       'coal_tng_ratio', 'renewable_energy_penetration', 'atc_sk_export',
       'atc_sk_import', 'atc_wecc_export', 'atc_wecc_import', 'bc', 'mt', 'sk',
       'ttc_sk_export', 'ttc_sk_import', 'ttc_wecc_export', 'ttc_wecc_import',
       'wecc', 'imported', 'exported', 'total_flow'],
      dtype='object')

In [10]:

# Retrieve all column values for the desired index
final_merge[['bc', 'total_flow']].loc['2023-04-29 13:00:00']

bc           -350.00
total_flow   -136.32
Name: 2023-04-29 13:00:00, dtype: float64

In [11]:
final_merge.head(2)

,calgary,central,edmonton,losses,northeast,northwest,south,system_load,ail,gas_price,...,mt,sk,ttc_sk_export,ttc_sk_import,ttc_wecc_export,ttc_wecc_import,wecc,imported,exported,total_flow
date,,,,,,,,,,,,,,,,,,,,,
2021-01-01 00:00:00,980.722146,1171.473099,1358.532734,236.922400,1174.421179,917.347644,820.224659,6659.643861,9655,2.4633,...,149.616,0,-153,153,-1000,1110,149.616,149.616,0.0,149.616
2021-01-01 01:00:00,930.446202,1176.854575,1319.084992,232.749707,1169.068763,921.311098,798.816485,6548.331823,9513,2.4633,...,117.744,0,-153,153,-1000,1110,117.744,117.744,0.0,117.744

In [12]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Create a reference DataFrame with a complete set of hourly timestamps
min_date = final_merge.index.min()
max_date = final_merge.index.max()
reference_index = pd.date_range(min_date, max_date, freq='H')
reference_df = pd.DataFrame(index=reference_index)

# Merge the original DataFrame with the reference DataFrame
merged_df = pd.merge(reference_df, final_merge, how='left', left_index=True, right_index=True)

# Check for missing values (NaN) in the merged DataFrame, which indicates missing hours
missing_hours = merged_df[merged_df.isnull().any(axis=1)].index

if missing_hours.empty:
    print("No missing hours in the data.")
else:
    print("Missing hours:")
    print(missing_hours)

No missing hours in the data.

In [13]:
final_merge[final_merge.isnull().any(axis=1)].index

DatetimeIndex([], dtype='datetime64[ns]', name='date', freq='H')

In [14]:
y = final_merge[["price"]]
y = y.sort_values(by="date")
y = y.asfreq("H")

In [15]:

y[y['price'].isna()].index

DatetimeIndex([], dtype='datetime64[ns]', name='date', freq='H')