In [6]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [7]:
price_old_df = pd.read_csv('./final_df_test.csv', parse_dates=['date'], index_col='date')
price_old_df = price_old_df.asfreq('H')
price_old_df = price_old_df.sort_values(by='date')
price_old_df = price_old_df.rename(columns={"calgary": "calgary_load"})
price_old_df = price_old_df.rename(columns={"central": "central_load"})
price_old_df = price_old_df.rename(columns={"edmonton": "edmonton_load"})
price_old_df = price_old_df.rename(columns={"northeast": "northeast_load"})
price_old_df = price_old_df.rename(columns={"northwest": "northwest_load"})
price_old_df = price_old_df.rename(columns={"south": "south_load"})

In [8]:
columns_to_multiply = []

for column in price_old_df.columns:
    if column.endswith("_reserve_margin"):
        price_old_df[column] = price_old_df[column] * 100
        columns_to_multiply.append(column)

for column in price_old_df.columns:
    if column.endswith("_supply_mix"):
        price_old_df[column] = price_old_df[column] * 100
        columns_to_multiply.append(column)

for column in price_old_df.columns:
    if column.endswith("_ratio"):
        price_old_df[column] = price_old_df[column] * 100
        columns_to_multiply.append(column)

price_old_df["relative_gas_reserve"] = price_old_df["relative_gas_reserve"] * 100
price_old_df["load_on_gas_reserve"] = price_old_df["load_on_gas_reserve"] * 100
price_old_df["gas_cost"] = price_old_df["gas_cost"] / 100

In [9]:
price_old_df.isna().sum().sum()

0

In [11]:
y = price_old_df[['price']]
y = y.asfreq("H")
y.isna().sum().sum(), y[y['price'].isna()].index

(0, DatetimeIndex([], dtype='datetime64[ns]', name='date', freq='H'))

In [12]:
X = price_old_df.drop(columns=['price'])
X = X.asfreq("H")
X.isna().sum().sum()

0

In [13]:
window = 24
X['rolling_mean'] = y.rolling(window).mean()
X['rolling_std'] = y.rolling(window).std()
X['rolling_min'] = y.rolling(window).min()
X['rolling_max'] = y.rolling(window).max()
X['rolling_median'] = y.rolling(window).median()
X['exp_moving_avg'] = y.ewm(span=24).mean()

In [14]:
X.isna().sum().sum()

115

In [15]:
# Filter y to match X
X.dropna(inplace=True)
y = y.loc[X.index]

In [16]:
X.isna().sum().sum(), y.isna().sum().sum()

(0, 0)

In [17]:
X['season'] = X['season'].replace({'WINTER': 1, 'SUMMER': 0})
X['peak_or_not'] = X['peak_or_not'].replace({'ON PEAK': 1, 'OFF PEAK': 0})

X['weekly_profile'] = 0
X.loc[((X.index.dayofweek == 1) | (X.index.dayofweek == 2)) & (X['peak_or_not'] == 1), 'weekly_profile'] = 6
X.loc[((X.index.dayofweek == 0) | (X.index.dayofweek == 3)) & (X['peak_or_not'] == 1), 'weekly_profile'] = 5
X.loc[((X.index.dayofweek == 4) | (X.index.dayofweek == 5) | (X.index.dayofweek == 6)) & (X['peak_or_not'] == 1), 'weekly_profile'] = 4
X.loc[((X.index.dayofweek == 1) | (X.index.dayofweek == 2)) & (X['peak_or_not'] == 0), 'weekly_profile'] = 3
X.loc[((X.index.dayofweek == 0) | (X.index.dayofweek == 3)) & (X['peak_or_not'] == 0), 'weekly_profile'] = 2
X.loc[((X.index.dayofweek == 4) | (X.index.dayofweek == 5) | (X.index.dayofweek == 6)) & (X['peak_or_not'] == 0), 'weekly_profile'] = 1

In [18]:
import requests

url = 'https://api.aeso.ca/report/v1.1/price/systemMarginalPrice'
params = {
    'startDate': '2022-01-01',
    'endDate': '2022-06-31'
}
headers = {
    'accept': 'application/json',
    'X-API-Key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ6MHo4MnIiLCJpYXQiOjE2ODM1NzQyMTh9.Gbod9kjeDwP4SOJibSFof63X7GGZxbZdBmBVrgE409w'
}

response = requests.get(url, params=params, headers=headers)

# Access the response data
data_1 = response.json()
data_1 = pd.DataFrame(data_1['return']['System Marginal Price Report'])

data_1['begin_datetime_mpt'] = pd.to_datetime(data_1['begin_datetime_mpt'])

data_1 = data_1.set_index('begin_datetime_mpt')

data_1 = data_1.drop(columns=['begin_datetime_utc', 'end_datetime_utc', 'end_datetime_mpt'])

data_1 = data_1.sort_index()

data_1['system_marginal_price'] = pd.to_numeric(data_1['system_marginal_price'], errors='coerce')

data_1['volume'] = pd.to_numeric(data_1['volume'], errors='coerce')

In [19]:
import requests

url = 'https://api.aeso.ca/report/v1.1/price/systemMarginalPrice'
params = {
    'startDate': '2022-07-01',
    'endDate': '2022-12-25'
}
headers = {
    'accept': 'application/json',
    'X-API-Key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ6MHo4MnIiLCJpYXQiOjE2ODM1NzQyMTh9.Gbod9kjeDwP4SOJibSFof63X7GGZxbZdBmBVrgE409w'
}

response = requests.get(url, params=params, headers=headers)

# Access the response data
data_2 = response.json()
data_2 = pd.DataFrame(data_2['return']['System Marginal Price Report'])

data_2['begin_datetime_mpt'] = pd.to_datetime(data_2['begin_datetime_mpt'])

data_2 = data_2.set_index('begin_datetime_mpt')

data_2 = data_2.drop(columns=['begin_datetime_utc', 'end_datetime_utc', 'end_datetime_mpt'])

data_2 = data_2.sort_index()

data_2['system_marginal_price'] = pd.to_numeric(data_2['system_marginal_price'], errors='coerce')
data_2['volume'] = pd.to_numeric(data_2['volume'], errors='coerce')

In [20]:
import requests

url = 'https://api.aeso.ca/report/v1.1/price/systemMarginalPrice'
params = {
    'startDate': '2022-12-26',
    'endDate': '2023-05-01'
}
headers = {
    'accept': 'application/json',
    'X-API-Key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ6MHo4MnIiLCJpYXQiOjE2ODM1NzQyMTh9.Gbod9kjeDwP4SOJibSFof63X7GGZxbZdBmBVrgE409w'
}

response = requests.get(url, params=params, headers=headers)

# Access the response data
data_3 = response.json()
data_3 = pd.DataFrame(data_3['return']['System Marginal Price Report'])

data_3['begin_datetime_mpt'] = pd.to_datetime(data_3['begin_datetime_mpt'])

data_3 = data_3.set_index('begin_datetime_mpt')

data_3 = data_3.drop(columns=['begin_datetime_utc', 'end_datetime_utc', 'end_datetime_mpt'])

data_3 = data_3.sort_index()

data_3['system_marginal_price'] = pd.to_numeric(data_3['system_marginal_price'], errors='coerce')
data_3['volume'] = pd.to_numeric(data_3['volume'], errors='coerce')

In [21]:
average_1_df = data_1[['volume', 'system_marginal_price']].resample('H').mean()
average_1_df.columns = ['volume_avg', 'system_marginal_price_avg']
average_1_df.tail()

                     volume_avg  system_marginal_price_avg
begin_datetime_mpt
2022-06-30 19:00:00       38.80                   381.6580
2022-06-30 20:00:00       33.50                   308.1350
2022-06-30 21:00:00       17.60                   202.4420
2022-06-30 22:00:00       49.25                   108.6775
2022-06-30 23:00:00       49.50                    93.1425

In [22]:
average_2_df = data_2[['volume', 'system_marginal_price']].resample('H').mean()
average_2_df.columns = ['volume_avg', 'system_marginal_price_avg']
average_2_df.head()

                     volume_avg  system_marginal_price_avg
begin_datetime_mpt
2022-07-01 00:00:00        48.4                  83.338000
2022-07-01 01:00:00        55.5                  70.637500
2022-07-01 02:00:00        34.5                  60.033333
2022-07-01 03:00:00        50.0                  57.445000
2022-07-01 04:00:00        50.0                  58.940000

In [23]:
average_3_df = data_3[['volume', 'system_marginal_price']].resample('H').mean()
average_3_df.columns = ['volume_avg', 'system_marginal_price_avg']
average_3_df.head()

                     volume_avg  system_marginal_price_avg
begin_datetime_mpt
2022-12-26 00:00:00   46.500000                  90.375000
2022-12-26 01:00:00   43.333333                  80.523333
2022-12-26 02:00:00   62.666667                  69.920000
2022-12-26 03:00:00   56.000000                  67.623333
2022-12-26 04:00:00   54.750000                  73.142500

In [24]:
sum_1_df = data_1[['volume', 'system_marginal_price']].resample('H').sum()
sum_1_df.columns = ['volume_sum', 'system_marginal_price_sum']
sum_1_df.tail()

                     volume_sum  system_marginal_price_sum
begin_datetime_mpt
2022-06-30 19:00:00         194                    1908.29
2022-06-30 20:00:00          67                     616.27
2022-06-30 21:00:00          88                    1012.21
2022-06-30 22:00:00         197                     434.71
2022-06-30 23:00:00         198                     372.57

In [25]:
sum_2_df = data_2[['volume', 'system_marginal_price']].resample('H').sum()
sum_2_df.columns = ['volume_sum', 'system_marginal_price_sum']
sum_2_df.head()

                     volume_sum  system_marginal_price_sum
begin_datetime_mpt
2022-07-01 00:00:00         242                     416.69
2022-07-01 01:00:00         222                     282.55
2022-07-01 02:00:00         207                     360.20
2022-07-01 03:00:00         100                     114.89
2022-07-01 04:00:00          50                      58.94

In [26]:
sum_3_df = data_3[['volume', 'system_marginal_price']].resample('H').sum()
sum_3_df.columns = ['volume_sum', 'system_marginal_price_sum']
sum_3_df.head()

                     volume_sum  system_marginal_price_sum
begin_datetime_mpt
2022-12-26 00:00:00         186                     361.50
2022-12-26 01:00:00         130                     241.57
2022-12-26 02:00:00         188                     209.76
2022-12-26 03:00:00         168                     202.87
2022-12-26 04:00:00         219                     292.57

In [27]:
average_df = pd.concat([average_1_df, average_2_df, average_3_df], axis=0)
sum_df = pd.concat([sum_1_df, sum_2_df, sum_3_df], axis=0)
smp_df = pd.merge(average_df, sum_df, left_index=True, right_index=True)
smp_df = smp_df.asfreq('H')

In [28]:
X = pd.merge(X, smp_df, left_index=True, right_index=True)
X = X.asfreq('H')
y = y.asfreq('H')
print(X.isna().sum().sum())

4

In [29]:
# Find index of nans in x
X[X.isna().any(axis=1)].index

DatetimeIndex(['2022-03-13 02:00:00', '2023-03-12 02:00:00'], dtype='datetime64[ns]', freq='8736H')

In [30]:
# Show nan values
X[X.isna().any(axis=1)]

,calgary_load,central_load,edmonton_load,losses,northeast_load,northwest_load,south_load,system_load,ail,gas_price,...,rolling_std,rolling_min,rolling_max,rolling_median,exp_moving_avg,weekly_profile,volume_avg,system_marginal_price_avg,volume_sum,system_marginal_price_sum
2022-03-13 02:00:00,888.540614,1246.141373,1296.376943,202.680432,1178.474171,883.322730,823.566607,6519.102870,9515,4.60,...,20.140946,39.27,121.63,68.58,70.410445,1,NaN,NaN,0,0.0
2023-03-12 02:00:00,1013.070080,1241.024111,1334.068814,247.557478,1216.844770,880.299005,782.896114,6715.760371,9932,3.15,...,254.492648,57.30,845.73,68.16,225.288866,1,NaN,NaN,0,0.0

In [31]:
# fill nan values
X['volume_avg'].fillna(X['volume_avg'].mean(), inplace=True)
X['system_marginal_price_avg'].fillna(X['system_marginal_price_avg'].mean(), inplace=True)

In [32]:
print(X.isna().sum().sum())

0

In [33]:
float64_cols = X.select_dtypes(include=['float64']).columns.tolist()
X[float64_cols] = X[float64_cols].astype('float32')

# Change weekly_profile, season, peak_or_not to int 
X['weekly_profile'] = X['weekly_profile'].astype('int32')
X['season'] = X['season'].astype('int32')
X['peak_or_not'] = X['peak_or_not'].astype('int32')

In [34]:
X.columns

Index(['calgary_load', 'central_load', 'edmonton_load', 'losses',
       'northeast_load', 'northwest_load', 'south_load', 'system_load', 'ail',
       'gas_price', 'peak_or_not', 'season', 'gas_tng', 'dual_fuel_tng',
       'coal_tng', 'wind_tng', 'solar_tng', 'hydro_tng', 'storage_tng',
       'other_tng', 'gas_avail', 'dual_fuel_avail', 'coal_avail', 'wind_avail',
       'solar_avail', 'hydro_avail', 'storage_avail', 'other_avail',
       'gas_reserve_margin', 'coal_reserve_margin', 'wind_reserve_margin',
       'solar_reserve_margin', 'hydro_reserve_margin',
       'storage_reserve_margin', 'other_reserve_margin', 'total_tng',
       'total_avail', 'gas_supply_mix', 'dual_fuel_supply_mix',
       'coal_supply_mix', 'wind_supply_mix', 'solar_supply_mix',
       'hydro_supply_mix', 'storage_supply_mix', 'other_supply_mix',
       'total_reserve_margin', 'relative_gas_reserve', 'demand_supply_ratio',
       'avail_gen_ratio', 'load_on_gas_reserve', 'renewable_energy_ratio',
       'fossil_fuel_ratio', 'energy_reserve_margin', 'gas_cost',
       'gas_avail_ratio', 'coal_avail_ratio', 'gas_tng_ratio',
       'coal_tng_ratio', 'renewable_energy_penetration', 'atc_sk_export',
       'atc_sk_import', 'atc_wecc_export', 'atc_wecc_import', 'bc', 'mt', 'sk',
       'ttc_sk_export', 'ttc_sk_import', 'ttc_wecc_export', 'ttc_wecc_import',
       'wecc', 'imported', 'exported', 'total_flow', 'calgary_temp',
       'edmonton_temp', 'northeast_temp', 'a_northwest_temp', 'south_temp',
       'b_northwest_temp', 'central_temp', 'avg_temp', 'rolling_mean',
       'rolling_std', 'rolling_min', 'rolling_max', 'rolling_median',
       'exp_moving_avg', 'weekly_profile', 'volume_avg',
       'system_marginal_price_avg', 'volume_sum', 'system_marginal_price_sum'],
      dtype='object')

In [36]:
from sklearn.linear_model import ElasticNet
from sklearn.preprocessing import StandardScaler
from sktime.forecasting.compose import ForecastingPipeline, make_reduction, TransformedTargetForecaster
from sktime.transformations.series.adapt import TabularToSeriesAdaptor
from lightgbm import LGBMRegressor

direct_pipe_t = TransformedTargetForecaster(
                    [
                        (
                            "forecast",
                            make_reduction(
                                LGBMRegressor(n_estimators = 1, max_depth=1, device='gpu'),
                                window_length=24,
                                strategy="direct",
                            ),
                        ),
                    ]
                )

direct_pipe_t.fit(y=y, X=X, fh = np.arange(1, 12+1))

TransformedTargetForecaster(steps=[('forecast',
                                    DirectTabularRegressionForecaster(estimator=LGBMRegressor(device='gpu', max_depth=1, n_estimators=1),
                                                                      window_length=24))])

In [37]:
def create_lagged_columns(X, lag_range=24):
    lagged_names = []
    for col in X:
        for lag in range(lag_range, 0, -1):
            lagged_names.append(f"{col}_lag{lag}")
    return lagged_names
labels = create_lagged_columns(['price'] + X.columns.values.tolist(), lag_range=24)
len(labels)

2256

In [38]:
y_transformed = direct_pipe_t.transform(y)  # does all the trasnformations on y
y_enc, X_enc = direct_pipe_t.forecaster_._transform(y_transformed, X)  # TransfomedTargetForecaster does not transform X, only y.

In [39]:
array_df = pd.DataFrame(y_enc)
array_df.columns = ['price1', 'price2', 'price3', 'price4','price5', 'price6','price7', 'price8','price9', 'price10', 'price11', 'price12']
array_df

,price1,price2,price3,price4,price5,price6,price7,price8,price9,price10,price11,price12
0,90.69,70.43,70.25,67.91,68.25,70.66,71.98,74.25,64.38,79.04,170.74,218.04
1,70.43,70.25,67.91,68.25,70.66,71.98,74.25,64.38,79.04,170.74,218.04,148.77
2,70.25,67.91,68.25,70.66,71.98,74.25,64.38,79.04,170.74,218.04,148.77,176.62
3,67.91,68.25,70.66,71.98,74.25,64.38,79.04,170.74,218.04,148.77,176.62,186.47
4,68.25,70.66,71.98,74.25,64.38,79.04,170.74,218.04,148.77,176.62,186.47,176.13
...,...,...,...,...,...,...,...,...,...,...,...,...
11554,50.03,50.33,51.48,53.45,53.50,78.39,87.60,57.23,49.34,46.53,44.94,45.51
11555,50.33,51.48,53.45,53.50,78.39,87.60,57.23,49.34,46.53,44.94,45.51,44.53
11556,51.48,53.45,53.50,78.39,87.60,57.23,49.34,46.53,44.94,45.51,44.53,40.44
11557,53.45,53.50,78.39,87.60,57.23,49.34,46.53,44.94,45.51,44.53,40.44,37.23
11558,53.50,78.39,87.60,57.23,49.34,46.53,44.94,45.51,44.53,40.44,37.23,35.15

In [40]:
X_enc = pd.DataFrame(X_enc, columns=labels)

In [41]:
merged_df = pd.concat([X_enc, array_df], axis=1)

In [42]:
corr_matrix = merged_df.corr('spearman')

In [43]:
import re
overall_useless = []

for i in range(1, 13):
    feature_correlations = corr_matrix[f'price{i}'].drop(f'price{i}')
    sorted_correlations = feature_correlations.abs().sort_values(ascending=False)
    
    low = sorted_correlations[sorted_correlations<0.3]
    high = sorted_correlations[sorted_correlations>=0.3]
    
    strings_high = high.index.values
    strings_low = low.index.values

    clean_results_high = []
    clean_results_low = []

    for string in strings_high:
        clean_string = re.sub(r'_lag\d+', '', string)
        clean_results_high.append(clean_string)
    
    for string in strings_low:
        clean_string = re.sub(r'_lag\d+', '', string)
        clean_results_low.append(clean_string)

    useless_results = [value for value in clean_results_low if value not in clean_results_high]
    unique_results = list(set(useless_results))
    overall_useless.append(unique_results)

In [44]:
common_values = set(overall_useless[0])  

for sublist in overall_useless[1:]:
    common_values = common_values.intersection(sublist)  

common_values = list(common_values) 
common_values

['solar_avail',
 'storage_reserve_margin',
 'solar_supply_mix',
 'hydro_avail',
 'gas_price',
 'ail',
 'weekly_profile',
 'wecc',
 'b_northwest_temp',
 'central_load',
 'wind_avail',
 'coal_tng',
 'total_reserve_margin',
 'coal_reserve_margin',
 'exported',
 'storage_avail',
 'atc_wecc_export',
 'edmonton_temp',
 'storage_supply_mix',
 'northeast_load',
 'volume_avg',
 'total_avail',
 'ttc_sk_export',
 'bc',
 'ttc_sk_import',
 'ttc_wecc_export',
 'season',
 'coal_supply_mix',
 'dual_fuel_supply_mix',
 'losses',
 'gas_avail',
 'edmonton_load',
 'system_load',
 'solar_tng',
 'avg_temp',
 'south_temp',
 'central_temp',
 'a_northwest_temp',
 'dual_fuel_avail',
 'other_supply_mix',
 'avail_gen_ratio',
 'gas_avail_ratio',
 'demand_supply_ratio',
 'other_avail',
 'coal_avail',
 'mt',
 'hydro_supply_mix',
 'atc_wecc_import',
 'south_load',
 'solar_reserve_margin',
 'volume_sum',
 'storage_tng',
 'total_flow',
 'atc_sk_export',
 'coal_avail_ratio',
 'total_tng',
 'coal_tng_ratio',
 'peak_or_not',
 'atc_sk_import',
 'imported',
 'energy_reserve_margin',
 'northeast_temp',
 'other_tng',
 'dual_fuel_tng',
 'calgary_temp',
 'sk',
 'ttc_wecc_import']

In [45]:
useful_values = list(set(X.columns) - set(common_values))
useful_values

['rolling_median',
 'rolling_min',
 'hydro_reserve_margin',
 'wind_tng',
 'renewable_energy_ratio',
 'exp_moving_avg',
 'gas_cost',
 'calgary_load',
 'northwest_load',
 'rolling_std',
 'renewable_energy_penetration',
 'wind_supply_mix',
 'system_marginal_price_sum',
 'system_marginal_price_avg',
 'gas_supply_mix',
 'rolling_mean',
 'gas_tng',
 'hydro_tng',
 'gas_reserve_margin',
 'fossil_fuel_ratio',
 'other_reserve_margin',
 'wind_reserve_margin',
 'relative_gas_reserve',
 'gas_tng_ratio',
 'rolling_max',
 'load_on_gas_reserve']

In [46]:
sorted_useful_values = [
    "renewable_energy_penetration",
    "fossil_fuel_ratio",
    "renewable_energy_ratio",
    "gas_supply_mix",
    "wind_supply_mix",
    "system_marginal_price_avg",
    "system_marginal_price_sum",
    "gas_cost",
    "hydro_reserve_margin",
    "wind_reserve_margin",
    "other_reserve_margin",
    "gas_reserve_margin",
    "rolling_std",
    "rolling_median",
    "rolling_min",
    "rolling_max",
    "exp_moving_avg",
    "rolling_mean",
    "gas_tng",
    "gas_tng_ratio",
    "relative_gas_reserve",
    "hydro_tng",
    "wind_tng",
    "load_on_gas_reserve",
    "northwest_load",
    "calgary_load",
]

In [47]:
X_small = X[sorted_useful_values]
X_small.columns

Index(['renewable_energy_penetration', 'fossil_fuel_ratio',
       'renewable_energy_ratio', 'gas_supply_mix', 'wind_supply_mix',
       'system_marginal_price_avg', 'system_marginal_price_sum', 'gas_cost',
       'hydro_reserve_margin', 'wind_reserve_margin', 'other_reserve_margin',
       'gas_reserve_margin', 'rolling_std', 'rolling_median', 'rolling_min',
       'rolling_max', 'exp_moving_avg', 'rolling_mean', 'gas_tng',
       'gas_tng_ratio', 'relative_gas_reserve', 'hydro_tng', 'wind_tng',
       'load_on_gas_reserve', 'northwest_load', 'calgary_load'],
      dtype='object')

In [48]:
corr_matrix_small = X_small.corr(method='spearman')
highly_correlated_features = []


for i in range(len(corr_matrix_small.columns)):
    for j in range(i):
        if abs(corr_matrix_small.iloc[i, j]) > 0.9:
            colname = corr_matrix_small.columns[i]
            rowname = corr_matrix_small.columns[j]
            highly_correlated_features.append((rowname, colname, corr_matrix_small.iloc[i, j]))


corr_df_small = pd.DataFrame(highly_correlated_features, columns=['Feature1', 'Feature2', 'Correlation'])
print(corr_df_small)

                        Feature1                Feature2  Correlation
0   renewable_energy_penetration  renewable_energy_ratio     1.000000
1                wind_supply_mix     wind_reserve_margin    -0.984855
2                    rolling_std             rolling_max     0.983697
3                    rolling_std            rolling_mean     0.918891
4                    rolling_max            rolling_mean     0.919332
5                 exp_moving_avg            rolling_mean     0.964065
6                 gas_supply_mix           gas_tng_ratio     1.000000
7             gas_reserve_margin    relative_gas_reserve     0.924577
8           hydro_reserve_margin               hydro_tng    -0.954695
9                wind_supply_mix                wind_tng     0.991390
10           wind_reserve_margin                wind_tng    -0.981232
11            gas_reserve_margin     load_on_gas_reserve     0.995281
12          relative_gas_reserve     load_on_gas_reserve     0.931122

In [49]:
# Drop highly correlated features
sorted_useful_values.remove('gas_tng_ratio')
sorted_useful_values.remove('wind_tng')
sorted_useful_values.remove('renewable_energy_penetration')

In [50]:
sorted_useful_values

['fossil_fuel_ratio',
 'renewable_energy_ratio',
 'gas_supply_mix',
 'wind_supply_mix',
 'system_marginal_price_avg',
 'system_marginal_price_sum',
 'gas_cost',
 'hydro_reserve_margin',
 'wind_reserve_margin',
 'other_reserve_margin',
 'gas_reserve_margin',
 'rolling_std',
 'rolling_median',
 'rolling_min',
 'rolling_max',
 'exp_moving_avg',
 'rolling_mean',
 'gas_tng',
 'relative_gas_reserve',
 'hydro_tng',
 'load_on_gas_reserve',
 'northwest_load',
 'calgary_load']

In [51]:
X_small = X_small[sorted_useful_values]

In [52]:
print(y.isna().sum().sum())

0

In [53]:
print(X.isna().sum().sum())

0

In [54]:
y[y<5] = 5

In [55]:
X[sorted_useful_values].lt(0).any() # These cannot be log transformed

fossil_fuel_ratio            False
renewable_energy_ratio       False
gas_supply_mix               False
wind_supply_mix              False
system_marginal_price_avg    False
system_marginal_price_sum    False
gas_cost                      True
hydro_reserve_margin         False
wind_reserve_margin          False
other_reserve_margin          True
gas_reserve_margin            True
rolling_std                  False
rolling_median               False
rolling_min                  False
rolling_max                  False
exp_moving_avg               False
rolling_mean                 False
gas_tng                      False
relative_gas_reserve          True
hydro_tng                    False
load_on_gas_reserve           True
northwest_load               False
calgary_load                 False
dtype: bool

In [56]:
cols_for_log_transform_small = list(set(sorted_useful_values) - set(list(X[sorted_useful_values].columns[X[sorted_useful_values].lt(0).any()])))
cols_for_log_transform_small

['rolling_median',
 'hydro_tng',
 'rolling_min',
 'calgary_load',
 'northwest_load',
 'hydro_reserve_margin',
 'rolling_std',
 'fossil_fuel_ratio',
 'wind_reserve_margin',
 'rolling_mean',
 'wind_supply_mix',
 'renewable_energy_ratio',
 'system_marginal_price_sum',
 'rolling_max',
 'gas_tng',
 'exp_moving_avg',
 'system_marginal_price_avg',
 'gas_supply_mix']

In [57]:
X.index.name = "date"
y.index.name = "date"
X = X.asfreq("H")
y = y.asfreq("H")

In [58]:
pd.DataFrame(X[sorted_useful_values]).to_csv('./small/filtered_features_small.csv')
pd.DataFrame(y).to_csv('./small/filtered_target_small.csv')

In [59]:
# Add demand_supply_ratio, weekly_profile, system_load total_reserve_margin volum_sum volumn_avg to useful_values
sorted_useful_values.append('system_load')
sorted_useful_values.append('demand_supply_ratio')
sorted_useful_values.append('total_reserve_margin')
sorted_useful_values.append('weekly_profile')
sorted_useful_values.append('volume_sum')
sorted_useful_values.append('volume_avg')

In [60]:
cols_for_log_transform_medium = list(set(sorted_useful_values) - set(list(X[sorted_useful_values].columns[X[sorted_useful_values].lt(0).any()])))
cols_for_log_transform_medium

['rolling_median',
 'rolling_min',
 'hydro_reserve_margin',
 'demand_supply_ratio',
 'weekly_profile',
 'rolling_mean',
 'renewable_energy_ratio',
 'gas_tng',
 'exp_moving_avg',
 'volume_sum',
 'volume_avg',
 'hydro_tng',
 'calgary_load',
 'fossil_fuel_ratio',
 'northwest_load',
 'rolling_std',
 'wind_reserve_margin',
 'wind_supply_mix',
 'rolling_max',
 'system_load',
 'system_marginal_price_sum',
 'total_reserve_margin',
 'system_marginal_price_avg',
 'gas_supply_mix']

In [61]:
# export again
pd.DataFrame(X[sorted_useful_values]).to_csv('./medium/filtered_features_medium.csv')
pd.DataFrame(y).to_csv('./medium/filtered_target_medium.csv')